html {
    font-family: "Arial", sans-serif; 
    font-size: 16px; 
    color: #333;
    line-height: 1.6;
}

#table-of-contents {
  list-style-type: none;
}

#navbar {
    float: left; /* Floats the TOC to the left */
    width: 20%; /* Adjust width as needed */
    position: fixed; /* Fixes divider in spot */
}

#main-content {
    margin-left: 21%; /* Creates space for the floated TOC, adjust based on TOC width + margin */
}

#title-header {
    font-size: 20px;
}

#table-of-contents a {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
  #navbar {
    opacity: 0;
  }
  #navbar li {
    pointer-events: none;
  }
}